<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display form</title>
</head>
<body>
    <a href="/create">Add</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Amount</th>
        </tr>
        {% for i in categories %}
        <tr>
            <td>{{i.0}}</td>
            <td>{{i.1}}</td>
            <td>{{i.2}}</td>    
            <td>{{i.3}}</td>
            <td><a href='delete/{{i.0}}'>Delete</a> | <a href='edit/{{i.0}}'>Edit</a> </td>
            
        </tr>
        {% endfor %}
    </table>

</body>
</html>